---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";


.image-wrapper {
    text-align: center;

    .image-caption {
        color: $grey-color;
        margin-top: $spacing-unit / 3;
    }
}


.aoc {
    background: #0f0f23;
    color: #cccccc;
    font-family: "Source Code Pro", monospace;
    font-size: 14pt;
    -webkit-text-size-adjust: none;

    em.star {
        color: #ffff66;
        font-style: normal;
        text-shadow: 0 0 5px #ffff66;
    }
    
    article em {
        color: #ffffff;
        font-style: normal;
        text-shadow: 0 0 5px #ffffff;
    }

    p {
        font-size: 14pt;
    }
}